<ul>
  <% files.each do |f| %>
    <li title="<%= f.id %>" style="margin-left: <%= ident * 5 %>px;">
        (<%= f.kind %>) <a href="<%= f.link %>"><%= f.name %></a>
        <% if f.children %>
          <%= partial :'lti/_files_list', files: f.children, ident: ident + 1 %>
        <% end %>
    </li>
  <% end %>
</ul>
