<div class="gdrivelist">
  <ul class="gdrivelist-folders">
    <% list.select(&:folder?).each do |f| %>
      <li>
        <a class="gdrivelist-folder" href="#">
          <img class="gdrivelist-icon" src="<%= f.icon %>" alt="folder icon">
          <%= f.name %>
          <span class="gdrivelist-arrow">&rsaquo;</span>
        </a>
      </li>
    <% end %>
  </ul>

  <ul class="gdrivelist-files">
    <% list.select(&:file?).each do |f| %>
      <li>
        <a class="gdrivelist-file" href="<%= f.link %>">
          <img class="gdrivelist-icon" src="<%= f.icon %>" alt="folder icon">
          <%= f.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
