<div class="gdrivelist">
  <div class="gdrivelist-search">
    <input type="search" name="search_term" placeholder="Search for google drive files.." value="<%= search_term %>"/>
    <img src="<%= url_for('search.png')%>" alt="search icon"/>
  </div>
  <div class="gdrivelist-back">
    <a href="#"><span>&#10140;</span> Back to parent folder</a>
  </div>
  <h3>Folders</h3>
  <% folders = list.select(&:folder?) %>
  <% if folders.empty? %><p class="gdrivelist-empty">There are no subfolders here.</p><% end %>
  <ul class="gdrivelist-folders">
    <% folders.each do |f| %>
      <li class="gdrivelist-folder" data-gdrive-id="<%= f.id %>">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="folder">
        <%= f.name %>
        <span class="gdrivelist-arrow">&rsaquo;</span>
      </li>
    <% end %>
  </ul>
  <hr class="gdrivelist-separator">

  <h3>Files</h3>
  <% files = list.select(&:file?) %>
  <% if files.empty? %><p class="gdrivelist-empty">There are no files here.</p><% end %>
  <ul class="gdrivelist-files">
    <% files.each do |f| %>
      <li class="gdrivelist-file">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="file">
        <%= f.name %>
        <%= partial :"lti/_file_action_#{action}", file: f %>
      </li>
    <% end %>
  </ul>
</div>
