<div class="gdrivelist">
  <div class="gdrivelist-back">
    <a href="#"><span>&#10140;</span> Back to parent folder</a>
  </div>
  <h3>Folders</h3>
  <% folders = list.select(&:folder?) %>
  <% if folders.empty? %><p class="gdrivelist-empty">There are no subfolders here.</p><% end %>
  <ul class="gdrivelist-folders">
    <% folders.each do |f| %>
      <li class="gdrivelist-folder" data-gdrive-id="<%= f.id %>">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="folder">
        <%= f.name %>
        <span class="gdrivelist-arrow">&rsaquo;</span>
      </li>
    <% end %>
  </ul>
  <hr class="gdrivelist-separator">

  <h3>Files</h3>
  <% files = list.select(&:file?) %>
  <% if files.empty? %><p class="gdrivelist-empty">There are no files here.</p><% end %>
  <ul class="gdrivelist-files">
    <% files.each do |f| %>
      <li class="gdrivelist-file">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="file">
        <%= f.name %>

        <span class="gdrivelist-actions">
          <% if params[:browser_type] == 'selection' %>
            <% [:link, :embed].each do |type| %>
              <%= partial :'lti/content_items_response', f: f, type: type, btn_label: type.to_s.titleize %>
            <% end %>
          <% elsif params[:browser_type] == 'submission' %>
            <form method="post" action="/lti/content">
              <%= Rack::Csrf.tag(env) %>
              <input type="hidden" name="file_id" value="<%= f.id %>"/>
              <button type="submit" class="action">Submit</button>
            </form>
          <% else %>
            <a class="action" href="<%= f.link %>" target="_blank">Open</a>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
