<div class="gdrivelist">
  <div class="gdrivelist-back">
    <a href="#"><span>&#10140;</span> Back to parent folder</a>
  </div>
  <h3>Folders</h3>
  <% folders = list.select(&:folder?) %>
  <% if folders.empty? %><p class="gdrivelist-empty">There are no subfolders here.</p><% end %>
  <ul class="gdrivelist-folders">
    <% folders.each do |f| %>
      <li class="gdrivelist-folder" data-gdrive-id="<%= f.id %>">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="folder">
        <%= f.name %>
        <span class="gdrivelist-arrow">&rsaquo;</span>
      </li>
    <% end %>
  </ul>
  <hr class="gdrivelist-separator">

  <h3>Files</h3>
  <% files = list.select(&:file?) %>
  <% if files.empty? %><p class="gdrivelist-empty">There are no files here.</p><% end %>
  <ul class="gdrivelist-files">
    <% files.each do |f| %>
      <li class="gdrivelist-file">
        <img class="gdrivelist-icon" src="<%= f.icon %>" alt="file">
        <%= f.name %>

        <span class="gdrivelist-actions">
          <% if params[:browser_type] == 'selection' %>
            <% [:link, :embed].each do |type| %>
              <form method="post" action="<%= session[:return_url] %>">
                <input type="hidden" name="lti_message_type" value="ContentItemSelection"/>
                <input type="hidden" name="lti_version" value="LTI-1p0"/>
                <input type="hidden" name="content_items" value='<%= ContentItems.build(f, type).to_json %>'/>
                <button type="submit" class="action"><%= type.to_s.titleize %></button>
              </form>
            <% end %>
          <% else %>
            <a class="action" href="<%= f.link %>" target="_blank">Open</a>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
